<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>ERSE: Eastern Rituals Search Engine</title>
    {% endblock %}
  </head>
  <body>
    <div class="topnav">
      <a href="/">Search</a>
      <a href="database">Database</a>
      <a href="configuration/dendrogram">Configuration</a>
    </div>
    {% block content %}
    {% endblock %}

    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
  </body>
</html>