{% extends "base.html" %}
{% block content %}
  <form method="POST">
    <p>New source folder path</p>
    <input type="text" name="source_folder_path">

    <input type="submit">
  </form>
{% endblock %}
