{% extends "base.html" %}
{% block content %}
  <h1>Database</h1>

  <p>Total number of videos in search pool: {{ total_search_pool_videos }}</p>
  <p>Total memory size of search pool: {{ total_search_pool_mem }}</p>

  <button id="benchmark" onclick="run_benchmark()">Benchmark search</button>

  <button id="cluster" onclick="run_clustering()">Cluster analysis</button>

  <img src="{{ url_for('image_upload', filename='dendrogram') }}">

  <script>
    function run_benchmark() {
      $.getJSON('run_benchmark', function(data) {
        benchmark_results_div = document.createElement("div")
        benchmark_results_div.innerHTML = "<h3>Search algorithm benchmark results</h3>"

        benchmark_total_loss = document.createElement("p")
        benchmark_total_loss.innerHTML = "<p>Total loss: " + data["search_pool_total_loss"] + "</p>"
        benchmark_results_div.appendChild(benchmark_total_loss)

        benchmark_avg_loss = document.createElement("p")
        benchmark_avg_loss.innerHTML = "<p>Average loss: " + data["search_pool_avg_loss"] + "</p>"
        benchmark_results_div.appendChild(benchmark_avg_loss)

        for (var metric_name in data["search_pool_total_metrics"]) {
          benchmark_total_metric = document.createElement("p")
          benchmark_total_metric.innerHTML = "<p>Total " + metric_name + ": " + data["search_pool_total_metrics"][metric_name] + "</p>"
          benchmark_results_div.appendChild(benchmark_total_metric)
        }

        for (var metric_name in data["search_pool_avg_metrics"]) {
          benchmark_avg_metric = document.createElement("p")
          benchmark_avg_metric.innerHTML = "<p>Average " + metric_name + ": " + data["search_pool_avg_metrics"][metric_name] + "</p>"
          benchmark_results_div.appendChild(benchmark_avg_metric)
        }

        // Only call this at the very end, once ready
        document.body.appendChild(benchmark_results_div)
      })
    }

    function run_clustering() {
      $.getJSON('run_cluster', function(data) {
        dendrogram_div = document.createElement("div")

        dendrogram_title = document.createElement("p")
        dendrogram_title.innerHTML = "<p>Dendrogram</p>"
        dendrogram_div.appendChild(dendrogram_title)

        dendrogram_img = document.createElement("img")
        dendrogram_img.innerHTML = "<img src=\"{{ url_for('image_upload', filename='dendrogram') }}\">"
        dendrogram_div.appendChild(dendrogram_img)

        document.body.appendChild(dendrogram_div)
      })
    }
  </script>
{% endblock %}
