{% extends "base.html" %}
{% block content %}
  <h1>ERSE: Eastern Rituals Search Engine</h1>
    
  <form method="POST">
    <input name="video">
    <input type="submit">
  </form>
{% endblock %}