{% extends "base.html" %}
{% block content %}
  <h1>ERSE: Eastern Rituals Search Engine</h1>
      
  <h2>Search results for video {{ search_video_name }}</h2>

  <ul>
  {% for result_video_name in result_video_names %}
    <li>
      {{ result_video_name }}
      <video width="300" height="200" controls>
        <source src="{{ url_for('video_upload', filename=result_video_name) }}">
      </video>
    </li>
  {% endfor %}
  </ul>
{% endblock %}